.blog-title_1{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 2px solid green;
}

.blogs_1{
    background-color: aliceblue;
    padding: 20px;
    margin-top: 30px;
}
.span{
    font-size: 20px;
    font-weight: bold;
    color: dodgerblue;
}